.User-card{
    width: 140px;
    border: 1px solid #eee;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 70px;
}

.User-name{
    margin: 10px;
}